.embpicasa,
.embpicasa li {display:inline;list-style:none;padding:0;margin:0;}

/* inline-block */
.embpicasa li, .embpicasa li a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
.embpicasa li, .embpicasa li a {
  *display: inline;
}


.embpicasa li {margin:5px;}
.embpicasa li a img {
	border:3px solid #fff;	
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
}

.embpicasa li a:hover img {
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}